{% extends "reviews/layout.html" %}
{% load static %}

{% block title %}
    <title>{{ anime.title }}</title>
{% endblock %}

{% block script %}
    <script src="{% static 'reviews/review.js' %}" defer></script>
    <script src="{% static 'reviews/like.js' %}" defer></script>
{% endblock %}

{% block main %}
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <form class="search-form" action="/" method="get">
                    <input class="search-input" type="text" name="q" id="search" placeholder="Search anime" required>
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <div class="anime-info">
                    <h1>{{ anime.title }}</h1>
                    {% if anime.title_synonyms %}
                        <p>Also known as {% for synonym in anime.title_synonyms %} <strong>{{ synonym }}</strong>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                    {% endif %}
                    <div class="anime-wrapper">
                        <div>
                            <img src="{{ anime.images.jpg.large_image_url }}" alt="{{ anime.title }}">
                        </div>
                        <div>
                            <p>{{ anime.synopsis }}</p>
                            <h2>Information</h2>
                            <p>Type: {{ anime.type }}</p>
                            <p>Episodes: {%if anime.episodes %} {{anime.episodes }} {% else %} Unknown {% endif %}</p>
                            <p>Status: {{ anime.status }}</p>
                            <p>Aired: {{ anime.aired.string }}</p>
                            <p>Genres: {% for genre in anime.genres %} {{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                            <p>Studios: 
                                {% if anime.studios %}
                                    {% for studio in anime.studios %} {{ studio.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                {% else %}
                                    None found
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <div class="review-section">
                    {% if user.is_authenticated %}
                        <button id="review-toggle" class="button" onclick="toggleReview()">Write a Review</button>
                        <div class="review-form">
                            <h2>Write a Review</h2>
                            <form action="{% url 'anime' anime.mal_id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="anime_id" value="{{ anime.mal_id }}">
                                {{ form }}
                                <div class="button-wrapper">
                                    <input class="button" type="button" value="Cancel" onclick="toggleReview()">
                                    <input class="button" type="submit" value="Post">
                                </div>
                            </form>
                        </div>
                    {% endif %}
                    <div class="reviews">
                        <h2>Reviews</h2>
                        {% if reviews %}
                            {% for review in reviews %}
                                <div id="{{ review.id }}" class="review">
                                    <div class="review-header">
                                        <strong><a href="{% url 'profile' review.author %}">{{ review.author }}</a></strong>
                                        <span>{{ review.time }}</span>
                                    </div>
                                    <span>{{ review.get_recommendation_display }}</span>
                                    <p>{{ review.content|linebreaksbr }}</p>
                                    {% if user.is_authenticated %}
                                        {% if review in liked_reviews %}
                                            <div class="like liked" onclick="likeReview(this)">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span>{{ review.likes.all|length }}</span>
                                            </div>
                                        {% else %}
                                            <div class="like" onclick="likeReview(this)">
                                                <i class="fa fa-thumbs-up"></i>
                                                <span>{{ review.likes.all|length }}</span>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No reviews yet! Be the first to write one!</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}