{% extends "reviews/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'reviews/index.js' %}" defer></script>
{% endblock %}

{% block main %}
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <div class="cta">
                    <h1>Welcome to Animate</h1>
                    <p class="cta-text">
                        Are you an anime fan looking for a centralized database to browse through? Look no further than Animate!
                        We provide a user-friendly platform for all of your anime needs. Join the community today!
                    </p>
                    {% if user.is_authenticated %}
                        <a class="button" href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a class="button" href="{% url 'register' %}">Sign Up</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <form class="search-form" action="/" method="get">
                    <input class="search-input" type="text" name="q" id="search" placeholder="Search anime" required>
                    <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>
    <section>
        <div class="section-container">
            <div class="section-wrapper">
                <div id="top-anime">
                    <h2>Top Airing Anime</h2>
                    <div id="top-anime-cards" class="cards"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}