{% extends "reviews/layout.html" %}

{% block title %}
  <title>Log In</title>
{% endblock %}

{% block main %}
  <section>
    <div class="section-container">
      <div class="section-wrapper">
        <div class="auth-wrapper">
          <h1>Log In</h1>
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-inputs">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" required>
              <label for="password">Password</label>
              <input type="password" name="password" id="password" required>
              <a class="auth-link" href="{% url 'register' %}">Create an account</a>
              <div class="button-wrapper">
                <input class="button" type="submit" value="Log In">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}