body {
    font-family: 'Open Sans', sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: 14rem;
}

.card a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

.card:hover {
    opacity: 0.8;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 21rem;
}

.loader {
    margin: auto;
    border: 0.25rem solid #eaf0f6;
    border-top: 0.25rem solid #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}