* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    background-color: #11171a;
    z-index: 99;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

.header-items {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.logo {
    text-decoration: none;
}

.logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.125rem;
}

.section-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 76rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cta-text {
    width: 72%;
}

.search-form {
    width: 100%;
    max-width: 40rem;
    background-color: #fafafa;
    border-radius: 4rem;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 1rem 2rem;
    float: left;
    width: 90%;
    background: transparent;
    border: 0;
    font-size: 1rem;
}

.search-button {
    padding: 1rem;
    width: 10%;
    background: transparent;
    border: 0;
    border-radius: 0 4rem 4rem 0;
    cursor: pointer;
}

.search-button:hover {
    background-color: #ededed;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    width: 14rem;
}

.card a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

.card:hover {
    opacity: 0.8;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 21rem;
}

.anime-info {
    text-align: center;
    width: 100%;
}

.anime-info h2 {
    margin-top: 1rem;
}

.anime-info img {
    object-fit: cover;
    display: inline-block;
    width: 20rem;
    height: 30rem;
}

.auth-wrapper {
    background-color: #fafafa;
    width: 75%;
    padding: 2rem;
    border: 1px solid #ededed;
    border-radius: 4rem;
}

.auth-link {
    color: #0000ee;
    margin-top: 0.5rem;
    text-align: right;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.form-inputs input:not(input[type=submit]) {
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4rem;
    font-size: 1rem;
    padding: 1rem 2rem;
}

.button-wrapper {
    margin-top: 1rem;
    text-align: center;
}

.button {
    background-color: #11171a;
    color: #fff;
    width: fit-content;
    border: 0;
    border-radius: 4rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #263238;
}

.alert {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
}

.alert.success {
    background-color: #bfdbfe;
}

.alert.error {
    background-color: #fecaca;
}

.loader {
    margin: auto;
    border: 0.25rem solid #eaf0f6;
    border-top: 0.25rem solid #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spinner 1s linear infinite;
}

@media only screen and (max-width: 767px) {
    .section-wrapper {
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
    }

    .anime-wrapper {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }   
}

@media only screen and (min-width: 768px) {
    .section-wrapper {
        padding: 2rem 1rem;
        display: flex;
        justify-content: center;
    }

    .anime-wrapper {
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
        text-align: left;
        align-items: center;
    }

    .anime-info h2 {
        text-align: left;
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}