$font: 'Poppins', sans-serif;
$black: #000;
$white: #fff;
$darker-gray: #ededed;
$lighter-gray: #fafafa;
$link-color: #0000ee;

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-align {
    display: flex;
    align-items: center;
}

@mixin flex-justify($justify: center) {
    display: flex;
    justify-content: $justify;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: $font;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    background-color: #11171a;
    z-index: 99;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

input:focus {
    outline: none;
}

textarea {
    font-family: $font;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
}

label {
    width: fit-content;
}

.header-items {
    @include flex-justify($justify: space-between);
    padding: 1.25rem;
}

.header-auth {
    color: $white;
    text-decoration: none;
    font-weight: 600;
}

.logo {
    text-decoration: none;
}

.logo-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.125rem;
}

.dropdown-container {
    position: relative;
}

.dropdown-button {
    background-color: transparent;
    color: $white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    background-color: $lighter-gray;
    position: absolute;
    right: 0px;
    min-width: 10rem;
    z-index: 1;
    display: none;

    a {
        color: $black;
        padding: 0.5rem;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: $darker-gray;
        }
    }
}

.dropdown-username {
    padding: 0.5rem;
    font-weight: 600;
}

.section-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 76rem;
}

.form-wrapper {
    @include flex-justify;
}

.cta {
    @include flex-column;
    align-items: center;
    text-align: center;
}

.cta-text {
    width: 72%;
}

.search-wrapper {
    @include flex-column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.search-form {
    @include flex-align;
    width: 100%;
    max-width: 40rem;
    background-color: $lighter-gray;
    border-radius: 4rem;
}

.search-input {
    padding: 1rem 2rem;
    float: left;
    width: 90%;
    background: transparent;
    border: 0;
    font-size: 1rem;
}

.search-button {
    padding: 1rem;
    width: 10%;
    background: transparent;
    border: 0;
    border-radius: 0 4rem 4rem 0;
    cursor: pointer;
    
    &:hover {
        background-color: $darker-gray;
    }
}

.cards {
    @include flex-justify;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    width: 14rem;

    a {
        color: $black;
        text-decoration: none;
        text-align: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 21rem;
    }

    &:hover {
        opacity: 0.8;
    }
}

.anime-info {
    text-align: center;
    width: 100%;

    h2 {
        margin-top: 1rem;
    }

    img {
        object-fit: cover;
        display: inline-block;
        width: 20rem;
        height: 30rem;
    }
}

.auth-wrapper {
    background-color: $lighter-gray;
    width: 75%;
    padding: 2rem;
    border: 1px solid $darker-gray;
    border-radius: 4rem;
}

.auth-link {
    color: $link-color;
    margin-top: 0.5rem;
    text-align: right;
}

.form-inputs {
    @include flex-column;
    gap: 0.5rem;
    margin-top: 1rem;

    input:not(input[type=submit]) {
        background-color: $white;
        border: 1px solid $darker-gray;
        border-radius: 4rem;
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

.review-section {
    @include flex-column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.reviews {
    @include flex-column;
    gap: 1rem;
}

.review {
    background-color: $lighter-gray;
    border: 1px solid $darker-gray;
    border-radius: 4rem;
    padding: 2rem;

    a:visited {
        color: $link-color;
    }
}

.review-header {
    @include flex-justify($justify: space-between);
}

.review-form {
    display: none;
    width: 100%;
    text-align: center;
}

.review-interaction {
    @include flex-align;
    gap: 1rem;
    height: 2rem;
}

.recommendation {
    font-weight: 600;
    margin: 0.25rem 0;
}

.sorting {
    margin-left: auto;

    label {
        display: inline;
    }
}

.like, .dislike {
    width: fit-content;
    cursor: pointer;
}

.highlighted {
    color: #dc2626;
}

.button-wrapper {
    margin-top: 1rem;
    text-align: center;
}

.button {
    background-color: #11171a;
    color: $white;
    width: fit-content;
    border: 0;
    border-radius: 4rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        background-color: #263238;
    }
}

.alert {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    
    &.success {
        background-color: #bfdbfe;
    }
    
    &.error {
        background-color: #fecaca;
    }
}

.loader {
    margin: auto;
    border: 0.25rem solid #eaf0f6;
    border-top: 0.25rem solid $black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spinner 1s linear infinite;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#id_recommendation {
    margin: auto;
    width: fit-content;
}

#sort-by {
    font-family: $font;
    background-color: $lighter-gray;
    border: 1px solid $darker-gray;
    border-radius: 4rem;
    padding: 0.5rem;
    width: fit-content;
}

@media only screen and (max-width: 767px) {
    .section-wrapper {
        @include flex-justify;
        padding: 1rem 2rem;
    }
    
    .anime-wrapper {
        @include flex-column;
        margin-top: 1rem;
        gap: 1rem;
    }   
}

@media only screen and (min-width: 768px) {
    .section-wrapper {
        @include flex-justify;
        padding: 2rem 1rem;
    }

    .anime-wrapper {
        @include flex-align;
        margin-top: 1rem;
        gap: 2rem;
        text-align: left;
    }

    .anime-info h2 {
        text-align: left;
    }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}